.App {
  max-width: 100%;
  max-height: 100%;
  display: flex;
}

.leftSide {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.rightSide {
  display: block;
  position: absolute;
  left: 300px;
  overflow: auto;
}

.zoomBtn {
  background-color: darkblue;
  border: none;
  color: white;
}
