/*!* Tooltip container *!*/
/*.islandTooltip {*/
/*  position: relative;*/
/*  display: inline-block;*/
/*  cursor: pointer;*/
/*}*/

/*!* Tooltip text *!*/
/*.islandTooltip .islandTooltipText {*/
/*  visibility: hidden;*/
/*  width: 200px;*/
/*  background-color: white;*/
/*  color: black;*/
/*  text-align: left;*/
/*  padding: 0 5px;*/
/*  border-radius: 6px;*/
/*  border: 1px solid black;*/
/*  position: absolute;*/
/*  z-index: 20;*/
/*}*/

/*!* Show the tooltip text when you mouse over the tooltip container *!*/
/*.islandTooltip:hover .islandTooltipText {*/
/*  visibility: visible;*/
/*}*/
