.code-display {
  top: 0;
  right: 0;
  height: 100vh !important;
  position: absolute !important;
}

.CodeMirror {
  top: 40px;
  height: 700px;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.7);
}

.CodeMirror-gutters {
  background-color: rgba(255, 255, 255, 0.5);
}
