.code-display {
  top: 40px;
  width: 30vw;
  left: calc(70vw - 300px);
  height: 100vh !important;
  position: absolute !important;
  display: flex;
}

.CodeMirror {
  position: absolute;
  flex: 1;
  right: 0;
  width: 30vw;
  height: 60vh;
  background-color: rgba(255, 255, 255, 0.7);
}

.CodeMirror-scroll {
  margin: 0;
}

.CodeMirror-gutters {
  background-color: rgba(255, 255, 255, 0.5);
}
