.importLine {
  animation: dash 5s linear infinite;
  stroke: white;
  stroke-opacity: 0.6;
  stroke-dasharray: 20;
  stroke-width: 5;
  stroke-linecap: round;
  fill: none;
}
@keyframes dash {
  from {
    stroke-dashoffset: 50;
  }
  to {
    stroke-dashoffset: 200;
  }
}
