.importLine {
  animation: dash 5s linear infinite;
  stroke: white;
  stroke-opacity: 0.6;
  stroke-dasharray: 10;
  stroke-width: 2;
  stroke-linecap: round;
  fill: none;
}

.foreignImportLine {
  animation: dash 5s linear infinite;
  stroke: #ff6799;
  stroke-opacity: 0.6;
  stroke-dasharray: 10;
  stroke-width: 3;
  stroke-linecap: round;
  fill: none;
}
.inheritanceImportLine {
  animation: dash 5s linear infinite;
  stroke: #01ff76;
  stroke-opacity: 0.6;
  stroke-dasharray: 5;
  stroke-width: 3;
  stroke-linecap: round;
  fill: none;
}

@keyframes dash {
  to {
    stroke-dashoffset: 150;
  }
}
