.importLine {
  animation: dash 5s linear infinite;
  stroke: white;
  stroke-opacity: 0.7;
  stroke-dasharray: 20;
  stroke-width: 6;
  stroke-linecap: round;
  fill: none;
}

.foreignImportLine {
  animation: dash 5s linear infinite;
  stroke: palevioletred;
  stroke-opacity: 0.8;
  stroke-dasharray: 20;
  stroke-width: 8;
  stroke-linecap: round;
  fill: none;
}

@keyframes dash {
  from {
    stroke-dashoffset: 50;
  }
  to {
    stroke-dashoffset: 150;
  }
}
