.legend {
  position: absolute;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px;
}

.legend-row {
  display: flex;
  flex-direction: row;
  margin-top: 2px;
}

.legend-img {
  width: 60px;
  height: 60px;
}
.legend-text {
  margin-left: 12px;
  font-size: 1.2em;
  font-weight: 600;
}
