.heading {
  margin: 0;
  text-align: center;
}

.legend {
  position: absolute;
  width: 300px;
  height: 65vh;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  flex-wrap: wrap;
}

.legendRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.legendImg {
  width: 30px;
  height: 30px;
  padding-left: 5px;
}
.legendText {
  margin-left: 5px;
  font-size: 0.8em;
  font-weight: 600;
  margin-right: 5px;
}

.legendContent {
  display: flex;
}

.legendLeftContainer {
  width: 150px;
}

.legendRightContainer {
  width: 150px;
}
